html,
body {
  width: 100%;
}
body {
  font-family: "Roboto Mono", monospace;
}
#container{
  text-align: center;
}
h3 {
  text-align: center;
  height: 35px;
  background: linear-gradient(70deg, #F9ED69 0%, #F9ED69 40%, #F08A5D calc(40% + 1px), #F08A5D 60%, #B83B5E calc(60% + 1px), #B83B5E 70%, #6A2C70 calc(70% + 1px), #6A2C70 100%);
}
#dropdown{
  width: 500px;
  float: left;
  padding-top: 10px;
}
#DataTable{
  width: 60%;
  margin: 0 auto;
  padding-right: 10%;
  padding-top: 1%;
  float: right;
  height: 1500px;
}